<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">{{ title }}</h1>
        <div class="row">
            {% if artists %}
                {% for artist in artists %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow-sm">
                            {% if artist['images'] %}
                                <img src="{{ artist['images'][0]['url'] }}" class="card-img-top" alt="Artist Image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ artist['name'] }}</h5>
                                <p class="card-text">Followers: {{ artist['followers']['total'] }}</p>
                                <p class="card-text">Genres: {{ ', '.join(artist['genres']) }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ artist['external_urls']['spotify'] }}" class="btn btn-primary btn-block" target="_blank">View on Spotify</a>
                                <a href="/live_events/{{ artist['name'] }}" class="btn btn-secondary btn-block mt-2" target="_blank">Find Live Events in London</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">No top artists found.</p>
            {% endif %}
        </div>
        <div class="text-center mt-4">
            <a href="/" class="btn btn-secondary">Back to Home</a>
        </div>
    </div>
</body>
</html>
